.main-block
{
  width: 100%;
  max-width: 50rem;
  display: grid;
  grid-auto-flow: row;
  padding: 1rem;
  /* gap: 2rem; */

  border-radius: 8px;
  max-height: 60vh;
  overflow: auto;
  background-color: #3a2c54;
  color: #fff;
}

.task-list
{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0;
  gap: 0.5rem;
  border-radius: 8px;
  max-height: 60vh;
  overflow: auto;
  background-color: #3a2c54;
}