<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Add Task</mat-label>
      <input matInput type="text" placeholder="Task" formControlName="taskName">
      <!-- <input matInput type="text" placeholder="Task" id="id" name="name" [formControl]="form.controls.enteredName"> -->
    </mat-form-field>

    <div formArrayName="users">
      <div *ngFor="let user of users.controls; let i = index" [formGroupName]="i">
        <!-- @for (user of users.controls; track i) { -->
        <mat-form-field >
          <mat-label>User Name</mat-label>
          <input matInput type="text" placeholder="User Name" formControlName="userName">
        </mat-form-field>
      <!-- } -->
      </div>
      <button mat-button type="button" (click)="addUser()">+</button>
    </div>

    <button mat-fab extended type="submit">Create</button>

    <!-- <button mat-fab extended type="submit" [ngClass]="{'disabled' : isDisabled()}" [disabled]="isDisabled()">Create</button> -->
    
  </form>
</div>