div {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

input {
  width: 15rem;
  height: 2rem;
  border: 0.5rem solid transparent;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.buttons-selector {
  display: flex;
  gap: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  background-color: #433352;
  color: #c3b3d1;
  border: none;
  font: inherit;
  cursor: pointer;
  /* min-width: 10rem; */
  text-align: center;
}

button:hover,
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
}

button:disabled
{
  background-color: gray;
  color: rgb(171, 171, 171);
  cursor: not-allowed;
}